<!doctype html>
<html lang="en">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- Bootstrap CSS -->
   <!--https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css -->
   <link rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
   {{ style('css/bootstrap.min.css') }}

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <!--<script src="https://kit.fontawesome.com/417f0983a6.js"></script>-->

   <style type="text/css">
      .h7 {
         font-size: 0.8rem;
      }

      @media (min-width: 992px) {
         .gedf-main {
            padding-left: 5px;
            padding-right: 5px;
         }

         .gedf-card {
            margin-bottom: 10px;
         }
      }

      .gedf-card {
         margin-bottom: 10px;
      }

      /**Reset Bootstrap*/
      .dropdown-toggle::after {
         content: none;
         display: none;
      }
   </style>
   @each(name in info_group)
   <title> EdClone | {{name.title}}</title>
   @endeach
</head>

<body style="background-color: #F4F3F8">

   @include('header-auth/header-auth')

   <div class="container gedf-wrapper" style="padding-top: 60px">
      <div class="row">
         <div class="col-md-3">

            <div class="dropdown" style="padding-top: 10px;">
               <button class="btn btn-outline-primary dropdown-toggle" type="button" id="gedf-drop1"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 20px;">
                  <i class="fa fa-align-justify" style="background-color: transparent; border: none;"></i>
                  Seus Grupos
               </button>
               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                  @each(cl in classe_groups)
                  <a class="dropdown-item" href="{{ route('classe-posts', { id: cl.id }) }}">{{cl.title}}</a>
                  @endeach
               </div>
            </div>

            <div class="" style="padding-top: 10px;">

               <ul class="list-group list-group-flush">

                  @if(page == 'posts')
                  <script>
                     window.onload = function(){
                        document.querySelector('#posts').classList.add("active")
                        }                     
                  </script>
                  @elseif(page == 'folders')
                  <script>
                     window.onload = function(){
                        document.querySelector('#folders').classList.add("active")
                     }                     
                  </script>
                  @elseif(page == 'members')
                  <script>
                     window.onload = function(){
                        document.querySelector('#members').classList.add("active")
                     }                     
                  </script>

                  @endif

                  <a href="{{ route('classe-posts', { id: param }) }}" id="posts"
                     class="list-group-item list-group-item-action">
                     <span>Posts</span>
                  </a>
                  <a href="{{ route('classe-folders', { id: param }) }}" id="folders"
                     class="list-group-item list-group-item-action">
                     <span>Pastas</span>
                  </a>
                  <a href="{{ route('classe-members', { id: param }) }}" id="members"
                     class="list-group-item list-group-item-action">
                     <span>Membros</span>
                  </a>
               </ul>
            </div>

         </div>

         <div class="col-md-9 gedf-main">
            <div class="row">
               <div class="col-md-12 gedf-main">
                  <div class="card gedf-card">
                     <div class="card-header " style="height: 50px;">


                           <div class="d-flex align-items-center">

                                 <div style="padding-left: 10px;">
                                     
                                     @each(name in info_group)
                                     <div>
                                          <span class="h6 m-0" style="font-size: 14px; font-weight: 700;" title="">{{name.title}}</span>
                                     </div>
                                     @endeach

                                 </div>
                             </div>
                       

                     </div>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-md-9 gedf-main">

                  <div class="col-md-12 gedf-main">

                     @each(cm in classe_members)
                     <div class="card gedf-card">
                        <div class="card-header">

                           <div class="d-flex align-items-center">

                              <div class="h5 m-0"> 
                                 @each(u in classe_members)
                                    <img src="{{ assetsUrl('profile-image/img/')}}{{u.path_profile_image}}" alt="Avatar" class="avatar" style=" vertical-align: middle;
                                                          width: 40px;
                                                          height: 40px;
                                                          border-radius: 10%;">
                                 @endeach
                              </div>

                              <div style="padding-left: 10px;">
                                 <div>
                                    <span><a href="#" class="h6 m-0" style="color: #2e313e; 
                                       font-size: 16px;
                                       font-weight: 500;
                                       line-height: 24px;">{{cm.name}}</a></span>
                                 </div>
                                 <div style="color: #73778b;
                                 font-size: 12px;
                                 font-weight: 400;
                                 line-height: 20px;">
                                    <span>Colaborador do aluno</span>
                                 </div>
                              </div>
                           </div>

                        </div>

                     </div>
                     @endeach

                  </div>

               </div>

               <div class="col-md-3 gedf-main">

                  <div class="card gedf-card">
                     <div class="card-body">
                        <h5 class="card-title">Bem vindo ao EdClone</h5>
                        <p class="card-text">Aqui estão as atualizações que estão chegando em agosto.
                           Estamos facilitando o uso do Edmodo para acompanhar suas aulas e atividades
                           extracurriculares.
                        </p>
                     </div>
                  </div>

               </div>
            </div>

         </div>


      </div>
   </div>
   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
   </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
   </script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
   </script>
</body>

</html>