<p>Olá {{ name }},</p>

<p>
  Seja bem vindo(a) ao EdClone, por favor confirme o seu endereço de e-mail clicando no link abaixo:
</p>

<p>
  <a href="{{ appUrl('register/confirm/' + token) }}">Confirme o endereço de e-mail. </a>
</p>